<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="css/css.css" />
    <link rel="stylesheet" href="css/font.css" />
</head>
<style>
	.locgin_i{ margin-top: 10%;}
	.login h2 a:nth-child(1){font-size:20px;font-weight:600;color: #333;border-bottom: 2px solid #677ee8;}
</style>
<body style="width: 100vw;height:100vh;background: url(img/login.png) no-repeat;background-size:100% 100%;padding:0px;">
	<div class="logo">
		<img src="img/logo.png"/>
		<h2>登录</h2>
	</div>
	<div class="login login_1" id="app">
		<!--<h2><a href="login.html">登录</a><a href="rst.html">注册</a></h2>-->
		<form>			
			<div class="locgin_i">
				<img src="img/login_username.png" class="img"/>
				<input type="text"class="mobile"  v-model="user.username" placeholder="请输入您的登录账号" />
			</div>
			<div class="locgin_i">
				<img src="img/login_psd.png" class="img"/>
				<input type="password" class="pwd" v-model="user.password" placeholder="请输入您的登录密码" />
			</div>
			<div class="a_box">
				<a class="a" href="password_reset.html">忘记密码</a>
				<a class="a" href="register.html">注册账号</a>
			</div>
			<input style="width: 100% !important;margin-top:10% !important;" type="button" class="tijiao" value="登录" @click="login"/>
		</form>
	</div>
</body>

<script type="text/javascript" src="js/zhaler/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/jsencrypt.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/core.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/md5.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/encrypt.js"></script>
<script type="text/javascript" src="js/zhaler/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/zhaler/vue.min.js"></script>
<script type="text/javascript" src="js/zhaler/config.js"></script>
<script>
	
var vm = new Vue({
	el:'#app',
	data:{
		user:{username:null,password:null},
	},
	methods: {
		login: function(){
			
			$.ajax({
	            type: "POST",
	            contentType:"application/json",
	            url:baseURL +'user/safety/login',
	            data:md5Method(vm.user),//JSON.stringify(vm.user),//serialize
	            async: false,
	            success: function(r) {
					if(r.code==0){

						$.cookie('username', vm.user.username);
						$.cookie('token', r.data.token, { expires: 15 });
	
						window.location.href= "index.html"
	    			}else{
						alert(r.msg);
					}
			    } 
	         })
		}
	},
	created: function(){
		var username=$.cookie('username');
		this.user.username=username;
    }
});
	
</script>
</html>