<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="css/css.css" />
    <link rel="stylesheet" href="css/font.css" />
    <style type="text/css">
    	.locgin_i{padding: 20px 5px 12px;}
    	.getCode{padding: 0% !important;width: 30% !important;color: #E69F20 !important;}
    </style>
</head>
<style>
</style>
<body style="width: 100vw;height:100vh;background: url(img/login.png) no-repeat;background-size:100% 100%;padding:0px;">
	<div id="app">
	<h1 class="h1"><button class="iconfont icon-xiangzuo1" onclick="javascript:window.history.back(-1);"></button></h1>
	<div class="logo">
		<img src="img/logo.png"/>
		<h2>找回密码</h2>
	</div>
	<div class="login login_1">
		<form>		
			<div class="locgin_i">
				<img src="img/login_username.png" class="img"/>
				<input type="text" class="information" placeholder="请输入你的用户名" v-model="safety.username"/>
			</div>
			<div class="locgin_i">
				<img src="img/login_username.png" class="img"/>
				<input type="text" class="information" placeholder="请输入您的手机号/邮箱号" v-model="safety.account"/>
			</div>
			<div class="locgin_i">
				<img src="img/login_tu.png" class="img"/>
				<input type="number" class="tu_code" placeholder="请输入您的图形验证码" v-model="code.captcha"/>
				<div id="tu_img">
                    <img id="code_img" :src="src" @click="refreshCode">
				</div> 
			</div>
			<div class="locgin_i">
				<img src="img/login_code.png" class="img"/>
				<input type="number" class="code" placeholder="请输入您的短信验证" v-model="safety.code"/>
				<span v-show="count==0" class="getCode" @click="sendCode">获取验证码</span>
				<span v-show="count>0" class="getCode">{{count}} s</span>
			</div>
			<div class="locgin_i">
				<img src="img/login_psd.png" class="img"/>
				<input type="password" class="password" placeholder="请输入新的登录密码" v-model="safety.newPassword"/>
			</div>
			<div class="locgin_i">
				<img src="img/login_psd2.png" class="img"/>
				<input type="password" class="re_pwd" placeholder="请输入确认登录密码" v-model="safety.confirmPassword"/>
			</div>
			
			<input style="width: 100% !important;margin-top:10% !important;" type="button" class="tijiao" value="确定" @click="reset"/>
		</form>
	</div>
	</body>
</div>
<script type="text/javascript" src="js/zhaler/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/zhaler/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/core.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/md5.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/encrypt.js"></script>
<script type="text/javascript" src="js/public.js" ></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/zhaler/vue.min.js"></script>
<script type="text/javascript" src="js/zhaler/config.js"></script>
<script type="text/javascript" src="js/zhaler/validator.js"></script>
<script type="text/javascript" src="js/zhaler/verify.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el:'#app',
	data:{
		count: 0,
	    timer: null,
		code:{},
		safety:{},
		src: baseURL+"code/captcha.jpg?t="+$.now()
	},
	methods: {
		refreshCode: function(){
			vm.src = baseURL+"code/captcha.jpg?t=" + $.now();
		},
		sendCode: function(){
			if(isBlank(vm.code.captcha)){
                alert("请输入图形验证码");
                return true;
			}
			if(!isMobile(vm.safety.account)&&!isEmail(vm.safety.account)){
                alert("手机/邮箱格式不正确");
                return true;
			}
			
			vm.code.account=vm.safety.account;
			vm.code.busType="safety";
			var json=md5Method(vm.code);
			sendCode(json,vm)
		},
		reset: function(){
			if(isBlank(vm.safety.code)){
                alert("请输入验证码");
                return true;
			}
			if(!isMobile(vm.safety.account)&&!isEmail(vm.safety.account)){
                alert("手机/邮箱格式不正确");
                return true;
			}
			if(isBlank(vm.safety.newPassword)){
                alert("请输入新登录密码");
                return true;
			}
			if(isBlank(vm.safety.confirmPassword)){
                alert("请输入确认密码");
                return true;
			}
			
			
			$.ajax({
	            type: "POST",
	            contentType:"application/json",
	            url:baseURL +'user/safety/resetPassword',
	            data:md5Method(vm.safety),//serialize
	            async: false,
	            success: function(r) {
					if(r.code==0){
						alert('重置成功', function(){
							window.location.href=loginURL;
						});
	    			}else{
						alert(r.msg);
					}
			    } 
	         })
		}
	},
	created: function(){
    }
});
</script>
</html>