<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title></title>
	    <link rel="stylesheet" href="css/style.css" />
	    <link rel="stylesheet" href="css/font.css" />
	    <style type="text/css">
	    	.form .e_btn {min-height: calc(100vh - 413px);}
	    </style>
	</head>
	<body>
	<div id="app" v-cloak>
		<h1 class="h1 di"><button class="iconfont icon-xiangzuo1" onclick="javascript:window.history.back(-1);"></button>修改交易密码</h1>
		<form action="" method="post" class="form">
			<div class="bb">
				<div class="with">
					<p>手机号/邮箱号</p>
					<div class="with_box">
						<img src="img/login_phone.png"/>
						<input type="number" readonly="readonly" v-model="user.mobile" />
					</div>
				</div>
				<div class="with">
					<p>验证码</p>
					<div class="with_box">
						<img src="img/login_code.png"/>
						<input type="number" placeholder="请输入验证码" v-model="update.code"/>
						<!-- <input type="button" class="getCode"  data-localize="GetCode"  value="获取验证码"/> -->
						<span v-show="count==0" class="getCode" @click="sendCode">获取验证码</span>
						<span v-show="count>0" class="getCode">{{count}} s</span>
					</div>
				</div>
				<div class="with">
					<p>新密码</p>
					<div class="with_box">
						<img src="img/login_psd.png"/>
						<input type="password" placeholder="请输入新密码"  v-model="update.newPayPassword"/>
					</div>
				</div>
				<div class="with">
					<p>确认密码</p>
					<div class="with_box">
						<img src="img/login_psd2.png"/>
						<input type="password" placeholder="请输入确认密码" v-model="update.confirmPayPassword"/>
					</div>
				</div>
			</div>
			
			<div class="e_btn">
				<input type="button" id="sub" class="yzbutton" value="确认修改"  @click="updateInfo"/>
			</div>
		</form>
	</div>
	</body>
<script type="text/javascript" src="js/zhaler/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/zhaler/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/core.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/md5.js"></script>
<script type="text/javascript" src="js/zhaler/encrypt/encrypt.js"></script>
<script type="text/javascript" src="js/public.js" ></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/zhaler/vue.min.js"></script>
<script type="text/javascript" src="js/zhaler/config.js"></script>
<script type="text/javascript" src="js/zhaler/validator.js"></script>
<script type="text/javascript" src="js/zhaler/verify.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el:'#app',
	data:{
		currency:null,
		user:{username:null},
		account:{},
		update:{},
	    count: 0,
	    timer: null,
	},
	methods: {
		getUser: function(){
			$.get(baseURL + "user/info", function(r){
				isLogin(r);

				vm.user = r.user;
				console.log(r.user);
				console.log(this.user);
				vm.account = r.account;
			});
		},
		sendCode: function(){
			var code={busType:"safety"};
			var code=md5Method(code);
			authCode(code,vm)
		},
		updateInfo: function(){
			
			if(isBlank(vm.update.code)){
                alert("请输入验证码");
                return true;
			}
			if(isBlank(vm.update.newPayPassword)){
                alert("请输入新交易密码");
                return true;
			}
			if(isBlank(vm.update.confirmPayPassword)){
                alert("请输入确认密码");
                return true;
			}
			
			$.ajax({
	            type: "POST",
	            contentType:"application/json",
	            url:baseURL +'user/safety/payPassword',
	            data:md5Method(vm.update),
	            async: false,
	            success: function(r) {
	            	isLogin(r);
	            	if(r.code==0){
						alert('重置成功', function(){
							window.location.href=loginURL;
						});
					}else{
						alert(r.msg);
					}
	            }
	        });
		},
		getSessionCurrency: function(){
			this.currency=getCurrency();
		}
	},
	created: function(){
        this.getUser();
        this.getSessionCurrency();
		
		
    }
});
</script>
</html>
